<p>Welcome, <%= @user.username %>!</p>

<p>To login to the site, just follow <%= link_to 'this link', activate_user_url(@user.activation_token) %>.</p>

<p>Thanks for joining and have a great day!</p>
