<p>Congratulations, <%= @user.username %>!</p>

<p>You have successfully activated your account.</p>

<p>You may now proceed to <%= link_to 'log in page', new_user_session_url %>.</p>

<p>Thanks for joining and have a great day!</p>
