<div data-controller="money" class="text-xl mt-4 mb-4">
  <span>目前價格:$</span>
  <div data-money-target="output" id="output" class=" inline">
  </div>
  <input id='input' data-money-target="price" type="text" placeholder="請輸入競價價格">
  <button data-action="click->money#show">出價</button>
</div>

<div data-controller="money" class="text-xl">
  <span>目前價格:$</span>
  <div data-money-target="output" id="output" class=" inline">
  </div>
  <input id='input' data-money-target="price" type="text" placeholder="請輸入競價價格">
  <button data-action="click->money#plus">加價</button>
</div>