<form name='Newebpay' action="https://ccore.newebpay.com/MPG/mpg_gateway" method="POST">
  <input type="text" name="MerchantID" value= <%=@MerchantID%> />
  <input type="text" name="TradeInfo" value= <%=@TradeInfo%> />
  <input type="text" name="TradeSha" value= <%=@TradeSha%> />
  <input type="text" name="Version" value= <%=@Version%> />
  <input type="submit" value="go" />
</form>
