<h1 class="text-center text-4xl mt-10">交易紀錄</h1>
<div class="antialiased bg-gray-100 text-gray-600 px-4">
  <div class="flex flex-col justify-center my-4">
    <div class="w-full xl:w-9/12 mx-auto bg-white border border-gray-200 rounded-2xl shadow-xl">
      <div class="p-3">
        <div class="overflow-x-auto">
          <table class="table w-full mx-auto shadow-lg">
            <!-- head -->
            <thead class="text-xs font-semibold text-white bg-gavel-blue">
              <tr>
                <th class="p-4 whitespace-nowrap text-lg rounded-l-lg">訂單編號</th>
                <th class="p-4 whitespace-nowrap text-lg">商品名稱</th>
                <th class="p-4 whitespace-nowrap text-lg">商品價格</th>
                <th class="p-4 whitespace-nowrap text-lg rounded-r-lg">訂單狀態</th>
              </tr>
            </thead>

            <tbody class="text-sm divide-y divide-gray-100">
              <% @records.each do |record| %>
                <tr class="hover:bg-blue-300 hover:shadow-2xl text-center transition ease-out duration-100">
                  <td class="p-6 whitespace-nowrap">
                    <div class="font-medium text-lg text-gray-800">
                      <%= record.id %>
                    </div>
                  </td>
                  <td class="p-6 whitespace-nowrap">
                    <div class="font-medium text-lg text-gray-800">
                    <%= record.description %>
                    </div>
                  </td>
                  <td class="p-6 whitespace-nowrap">
                    <div class="font-lg text-lg text-gray-800">
                      <%= record.price %>
                    </div>
                  </td>
                  <td class="p-6 whitespace-nowrap">
                    <div class="font-medium text-lg text-gray-800">
                      <%= record.status %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>