<h1 class="text-center text-4xl mt-10">交易紀錄</h1>
  <div class="container mx-auto mt-5 overflow-x-auto">
    <table class="w-10/12 bg-white mx-auto md:rounded-2xl shadow-xl overflow-hidden">
      <thead class="bg-gavel-blue text-white text-lg">
        <tr class="mx-auto text-center shadow-xl">
          <th class="py-4 px-6 whitespace-nowrap">
            <span>訂單編號</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap">
            <span>商品名稱</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap">
            <span>商品價格</span>
          </th>
          <th class="py-4 px-6 whitespace-nowrap">
            <span>商品名稱</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr class="text-center text-lg border-b-2 border-b-gray-200">
            <td class="py-6 px-6"><%= record.id %></td>
            <td class="py-6 px-6"><%= record.description %></td>
            <td class="py-6 px-6 whitespace-nowrap"><%= record.price %></td>
            <td class="py-6 px-6"><%= record.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>