<h1 class="text-4xl mt-36 mb-8 text-center text-gray-800">編輯拍賣房間</h1>
<%= render 'form', room: @room %>
<div class="flex justify-center items-center rounded-2xl m-auto md:w-8/12 lg:w-5/12 mt-5">
  <%= link_to '編輯產品', edit_product_path(@room.id), class:"w-5/6 text-center leading-[2.75rem] h-11 inline-block mx-auto rounded mb-4 border-gray-400 text-gray-900 hover:bg-gray-200 border" %>
</div>
