
.box {
  width: 100%;
  height: 600px;
  overflow: auto;
}
  
table {
  width: 100%;
  min-width: 1000px;
  table-layout: fixed;
  border-spacing:0;
}

td,th {
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
td:first-child,th:first-child {
  width: 150px;
}

thead tr th {
  background-color: #0066CC;
  position: sticky;
  top: 0;
}

td:first-child {
  position: sticky;
  left: 0;
  background-color: white;
}

thead tr th:first-child {
  z-index: 1;
  left: 0;
}