*{
  font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.category{
  position: relative;
  margin: 0 1.2rem;
}
.category::before{
  content: "";
  position: absolute;
  bottom: -.3rem;
  left: 0;
  border-bottom: 3px red solid;
  width: 100%;
  opacity: 0;
}
.category:hover::before{
  opacity: 1;
}

.category:first-child{
  margin-left: auto;
}
.category:last-child{
  margin-right: auto;
}
.scroll{
  border-bottom: 1px rgb(188, 188, 188) solid;
  padding-bottom: 10px;
}
/*
.navbar::before{
  content: "";
  position: absolute;
  border-bottom: 1px rgb(188, 188, 188) solid;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
}

*/
/*
.scroll::-webkit-scrollbar {
  height: 7px;
}
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scroll::-webkit-scrollbar-thumb {
  background: #888;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
} */





/* 導覽列 */
.menu_btn{
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top:5px;
  right: 10px;
}
#nav{
  position: relative;
  height:60px;
  width:100%;

}
#menu_control{
  position: absolute;
}
.menu_btn::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  left:2px;
  background-color: rgb(245, 245, 245);
  top: 10px;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 8px 0px rgb(244, 244, 244),
              0px -8px 0px rgb(237, 237, 238);
}
.text{
  width: 100%;
  height: calc(100vh-60px);
  background-color: rgb(229, 232, 232);
  position:absolute;
  top:60px;
  left: 0%;
  left:-100%;
  transition: .3s;
}
.text a{
  display: block;
  padding: 20px;
  color:rgb(10, 7, 45);
  border-bottom:1px solid rgb(168, 168, 169);

}
.text a:hover{
  background-color: rgb(206, 204, 204);
  color:rgb(37, 114, 238);
}
#menu_control:checked~ #nav .text{
  left :0;
}
.search{
  left:0;
  margin: auto;
}
.search input{
  width: 400px;
}
.search button{
  width: 120px;
}
@media screen and (min-width:768px){
  .search{
    width: 400px;
    left:0px;
    margin: auto;
  }
  .search input{
    width: 300px;
  }
  .search button{
    width: 80px;
  }
}

@media screen and (min-width:1200px){
  .menu_btn{
    display: none;
  }
  #nav{
    align-items: center;
  }

  #nav .logo {
    margin-right: 40px;
  }
  #nav .Gavel {
    margin-right: 40px;
  }
  .text{
    left :0px;
    right:0;
    position: relative;
    height:60px;
    display: flex;
    align-items: center;  
    justify-content: flex-end;
    top: 0;
    background-color: rgb(17 24 39);
  }
  .text a{
    color: rgb(246, 244, 244);
    border-bottom:none;
    margin-left: 20px;
  }
  .text a:hover{
    background-color:transparent;
    color:rgb(37, 114, 238);
  }
  .search{
    margin-left:20px ;
  }
  .search input{
    width: 400px;
  }
  .search button{
    width: 80px;
  }
}