* {
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
    sans-serif;
}
body {
  background-color: rgba(239, 246, 255);
}
.category {
  position: relative;
  margin: 0 1.2rem;
}
.category::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.5s;
  border-bottom: 4px solid #0000;
  border-radius: 8px 8px 0 0;
}
.activeStyle::before,
.category:hover::before {
  border-bottom: 4px solid #0066cc;
  border-radius: 8px 8px 0 0;
  transform: scaleX(1);
}
.category:first-child {
  margin-left: auto;
}
.category:last-child {
  margin-right: auto;
}
.scroll {
  border-bottom: 1px solid rgb(188, 188, 188);
}
.navbar a {
  padding: 45px 35px 15px 35px;
  color: #6b7280;
}
.navbar a:focus {
  color: #1f2937;
}
.navbar a:hover {
  color: #1f2937;
}
.field_with_errors {
  display: inline-block;
  width: 65%;
}

.field_with_errors input ,
.field_with_errors textarea{
  outline: 1px solid red;
}
/* 商品狀態 */
.styled-select select {
  height: 40px;
  width: 258px;
  font-size: 14x;
  border-radius: 10px;
  margin: 0 0 0 6px;
  color: rgb(110, 110, 110);
}
.styled-select select {
  width: 258px;
  font-size: 14px;
  border-radius: 0.25rem;
  border: 1px solid rgb(209 213 219);
  padding: 2px 2px 2px 10px;
}
.styled-select {
  position: relative;
  display: block;
  height: 40px;
  width: 200px;
  color: rgb(57, 57, 57);
}

/* 標籤分類 */
.field select {
  width: 127px;
  height: 2.5rem;
  border: 1px solid rgb(209 213 219);
  padding: 2px 2px 2px 10px;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 5px;
  color: rgb(110, 110, 110);
}
.start_price {
  width: 260px;
}
