input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.carousel {
  box-sizing: border-box;
  margin: 0 20px;
}

.room_container {
  height: 400px;
  width: auto;
  margin: 0 auto;
  position: relative;
  padding: 5px;
  background: #d0d0d0;
  border-radius: 1rem;
}

.slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider img {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.7rem;
}

#previous,
#next {
  cursor: pointer;
  position: absolute;
  font-weight: bolder;
  top: calc(50% - 40px);
  left: 10px;
}

#next {
  left: unset;
  right: 10px;
}

.dots {
  margin-top: 15px;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dots li {
  width: 10px;
  height: 10px;
  background-color: silver;
  border-radius: 50%;
  cursor: pointer;
}

li.dot--active {
  background-color: gray;
}

#timer {
  font-family: sans-serif;
  font-weight: lighter;
  padding: 70px 50px;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
}

#timer div {
  display: inline-block;
  min-width: 90px;
}

#timer div span {
  display: block;
  font-size: 0.35em;
  font-weight: 400;
}
.information {
  height: fit-content;
}

.price_now {
  position: relative;
}

.price_now::before {
  content: "目前最高價";
  font-size: 12px;
  position: absolute;
  top: -25px;
  white-space: nowrap;
}

.your_price {
  position: relative;
}

.your_price::before {
  content: "你的出價";
  font-size: 12px;
  position: absolute;
  top: -25px;
  white-space: nowrap;
}
