
.react-autosuggest__container {
  /* position: relative; */
  display: inline-block;
}

.react-autosuggest__input {
  width: 200px;
  height: 30px;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #000;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 200px;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  transform: translateY(.7rem);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.search_icon{
  margin-left: .1rem;
  display: inline-block;
  font-size: 20px;
  background: rgb(67, 100, 230);
  width: 40px;
  height: 43px;
  text-align: center;
  border-radius:4px;
  line-height: 42px;
}


@media screen and (min-width:768px){
  .react-autosuggest__input {
    width: 350px;
  }
  .react-autosuggest__suggestions-container--open {
    width: 350px;
  }
}
@media screen and (min-width:1200px){
  .inputwidth{
    width: 1200px;
  }
}


