<h1 class="text-center text-4xl mt-10">得標紀錄</h1>
<% if @products.any? %>
<div id="products" class="container mx-auto mt-5">
<table class="w-10/12 bg-white mx-auto rounded-2xl shadow-xl">
  <thead class="bg-gavel-blue text-white text-lg">
    <tr class="mx-auto text-center shadow-xl">
      <th id="product-name" class="py-4 px-6 rounded-tl-xl whitespace-nowrap">
        <span>得標商品</span>
      </th>
      <th id="product-bid" class="py-4 px-6 whitespace-nowrap">
        <span>得標金額</span>
      </th>
      <th id="checkout" class="py-4 px-6 rounded-tr-xl">
        <span>結帳</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr class="text-center text-lg border-t-2 border-b-gray-200">
        <td class="py-6 px-6"><%= product.name %></td>
        <td class="py-6 px-6"><%= product.records.last.bid %></td>
        <td class="py-6 px-6 ">
        <%= link_to "付款" , buy_product_path(product.id), method:"POST",class:"inline-block whitespace-nowrap bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded-full text-white text-base" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
<h1>尚未有得標商品</h1>
<% end %>