<h1 class="text-4xl my-8 font-bold font-mono text-gray-800 text-center ">編輯商品</h1>
<%= render 'form', product: @product %>
<div class="flex justify-center items-center px-5 w-11/12 md:w-8/12 lg:w-5/12 mx-auto mt-5">
  <%= link_to '編輯房間', edit_room_path(@product.id), class:"w-11/12 text-center leading-[2.75rem] h-11 inline-block mx-auto rounded mb-4 border-gray-400 text-gray-900 hover:bg-gray-200 border" %>
</div>


