

<% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', product: @product %>

