<h1 class="text-4xl my-8 font-bold font-mono text-gray-800 text-center">新增商品</h1>
<% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', product: @product %>