<h1 class="text-3xl text-center m-2">新增商品</h1>

<% if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>