<h1 class="text-4xl m-5">Products List</h1>
<% if @products%>
  <ul>
    <% @products.each do |product|%>
      <li>
      <%= link_to product.name , product_path(product.id)%>
      <%= link_to "edit" , edit_product_path(product.id)%>
      <%= link_to "delete" , product_path(product.id) , method:"DELETE" , data: {confirm: "Are you sure?"}%>
      </li>
    <% end%>
  </ul>
<% end %>
<%= link_to "Create product" , new_product_path ,class: "hover:text-indigo-600"%>
