<div class="namecard w-96 flex flex-wrap justify-around shadow-lg bg-green-200 text-gray-500 p-5 ">
  <div>
    <img class="user_pic rounded-full shadow-lg mr-1" src="https://fakeimg.pl/150x150/200" />
  </div>
  <div class="user_detail">
    <h2 class="user_name text-2xl mb-5">Username</h2>
    <h3 class="user_reputation text-lg mb-5">名聲: "score"</h3>
    <button class="btn border-0 bg-white hover:shadow-lg rounded p-2 mr-2">聯絡用戶</button>
    <button class="btn border-0 bg-white hover:shadow-lg rounded p-2">追蹤用戶</button>
  </div>
</div>
